/*@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);*/
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";

/*background*/
body {
    background: #2A2A2E;
    font-family: Tahoma, Arial, sans-serif;
    zoom: 1;
    font-size: 12px;
}

p {
    color: #ffffff;
}

/*headers*/
h1 {
    color: #ffffff;
}

h2 {
    color: #00a2c8;
}

/*tables*/
table {
    border-spacing: 0.5rem;
}

th, td {
    padding: 0.5rem;
    border-color: transparent;
}

th {
    font-weight: bold;
    background: #bbbbbb;
}

td {
    background: rgb(27, 155, 255);
    color: white;
}

/*links*/
a:link {
    color: #246299;
}

a:visited {
    color: #005b0d;
}

a:hover {
    color: rgb(188, 216, 255);
}

a:active {
    color: yellow;
}

#logo_pos {
    min-witdh: 400px;
    min-height: 194px;
    float: left;

}
#log_pos {
    float: right;
}

.header {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    text-decoration: none;
    height: 196px;
}

.menu {
    text-decoration: none;
    height: 54px;
}

.all {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}


/* New black/blue menu */

/* Starter CSS for Flyout Menu */
#cssmenu {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
    /*float:left;*/
}
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu ul {
    position: relative;
    z-index: 597;
    float: left;
}
#cssmenu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
#cssmenu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 598;
    width: 100%;
}
#cssmenu ul ul li {
    float: none;
}
#cssmenu ul ul ul {
    top: -2px;
    right: 0;
}
#cssmenu ul li:hover > ul {
    visibility: visible;
}
#cssmenu ul ul {
    top: 1px;
    left: 99%;
}
#cssmenu ul li {
    float: none;
}
#cssmenu ul ul {
    margin-top: 1px;
}
#cssmenu ul ul li {
    font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
    width: 150px;
    background: #333333;
    font-family: Tahoma, Arial, sans-serif;
    zoom: 1;
    font-size: 12px;
}
#cssmenu:before {
    content: '';
    display: block;
}
#cssmenu:after {
    content: '';
    display: table;
    clear: both;
}
#cssmenu a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
#cssmenu > ul {
    width: 150px;
}
#cssmenu ul ul {
    width: 150px;
}
#cssmenu > ul > li > a {
    border-right: 4px solid #1b9bff;
    color: #ffffff;
}
#cssmenu > ul > li > a:hover {
    color: #ffffff;
}
#cssmenu > ul > li.active a {
    background: #1b9bff;
}

#cssmenu > ul > ul > li.active {
    background: #4eb1ff;
}

#cssmenu > ul > li a:hover,
#cssmenu > ul > li:hover a {
    background: #1b9bff;
}
#cssmenu li {
    position: relative;
}
#cssmenu ul li.has-sub > a:after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px;
}
#cssmenu ul ul li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}
#cssmenu ul ul li.last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    border-bottom: 0;
}
#cssmenu ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
#cssmenu ul ul {
    border: 1px solid #0082e7;
}
#cssmenu ul ul a {
    font-size: 12px;
    color: #ffffff;
}
#cssmenu ul ul a:hover {
    color: #ffffff;
}
#cssmenu ul ul li {
    border-bottom: 1px solid #0082e7;
}
#cssmenu ul ul li:hover > a {
    background: #4eb1ff;
    color: #ffffff;
}

#cssmenu > ul > li.active.has-sub > ul > li.active > a {
    background: #4eb1ff;
    color: #ffffff;
}

#cssmenu.align-right > ul > li > a {
    border-left: 4px solid #1b9bff;
    border-right: none;
}
#cssmenu.align-right {
    float: right;
}
#cssmenu.align-right li {
    text-align: right;
}
#cssmenu.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}
#cssmenu.align-right ul li.has-sub > a:after {
    content: none;
}
#cssmenu.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
}
#cssmenu.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}
#cssmenu.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}
#cssmenu.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
#cssmenu > ul > li.last > a{
    border-bottom: 4px solid #1b9bff;
}


#container {
    overflow: hidden;
}

#lang {
    display: inline-block;
    width: 150px;
    background: #333333;
    font-family: Tahoma, Arial, sans-serif;
    zoom: 1;
    font-size: 12px;
    overflow: hidden;
}

#lang > a {
    display: inline-block;
    padding: 15px 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    /*overflow: hidden;*/
    float: left;
    /*border-right: 4px solid #1b9bff;*/
}

#menu_container {
    float:left;
    margin-right: 20px;
}

#lang > a:hover {
    background: #1b9bff;
}

#lang > a.active {
    background: #4eb1ff;
}

.centering-wrapper {
    display: table;
    width: 100%;
}
.centered-element {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.loginTable {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#container h1 {
    color: #FFFFFF;
}

.header2 {
    background-image: url("http://s6.postimg.org/npjwwbpn5/logo.png");
    background-repeat: no-repeat;
    text-decoration: none;
    margin: 0 auto;
    height: 70px;
    background-position: center;
}

#container > table > tbody > tr > td > a {
    color: #08233f;
}

#container > table > tbody > tr > td > a:link {
    color: #08233f;
}

#container > table > tbody > tr > td > a:hover {
    color: #0e4979;
}

#container > table > tbody > tr > td > a:visited {
    color: #003800;
}

#tiles {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #333333;
    font-family: Tahoma, Arial, sans-serif;
    zoom: 1;
    font-size: 12px;
    overflow: hidden;
    border: 1px solid #1986d8;
    margin: 4px;
}

#tiles > a {
    text-align: center;
    width: 150px;
    height: 150px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    vertical-align: middle;
    line-height: 150px;
}

#tiles:hover {
    background: #1b9bff;
}

#tiles.active {
    background: #4eb1ff;
}

.linebreaks{
    white-space: pre;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 50%;
    padding: 16px;
    border: 1px solid #1986d8;
    background-color: #333333;
    z-index:1002;
    overflow: auto;
    color: white;
}

#light > p > a:link {
    color: #2fa9ff;
}

#light > p > a:visited {
    color: #00ad00;
}

#light > p > a:hover {
    color: rgb(188, 216, 255);
}

#choose {
    display: inline-block;
    background: #bbbbbb;
    /*padding: 10px 10px 10px 10px;*/
    width: 120px;
    height: 30px;
    zoom: 1;
    overflow: hidden;
}

#choose > a {
    /*padding: 10px 10px 10px 10px;*/
    text-align: center;
    width: 120px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    line-height: 30px;

}

#choose > a:link {
    color: #2A2A2E;
    font-weight: bold;
}

#choose > a:hover {
    color: white;
    font-weight: bold;
    background-color: #1b9bff;
}

#choose > a:visited {
    font-weight: bold;

}